.navbar-brand img {
    width: 40px;
    height: 60px;
}
.but1{
    border-radius: 100%;
    background-color: rgb(236, 86, 111);
    border: 0px;
    padding: 5px 20px 5px 20px;
    color: white;
    font-size: xx-large;
    text-align: center;
    align-content: center;
    
}
.text1{
    margin-left: 60px;
    align-self: center;
    margin-top: 90px;
}
.pix1{
    margin-top: 90px;
}
.pix2{
    margin-left: 100px;
}
.linked a{
    text-decoration: none;
}
/* .team_socials a {
    text-decoration: none;
} */
.learn a{
    list-style: none;
    text-decoration: none !important;
}
.Learn{
    /* text-decoration: none; */
    color:  rgb(236, 86, 111);
}
.Awesome{
    margin-top: 50px;
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the items horizontally */
}
.recal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hills {
    flex: 1;
}

.list-type {
    list-style-type: none;
    padding: 0;
}

.list-type li {
    margin-bottom: 10px;
}

.resize {
    width: 100px; /* Adjust the width as needed */
}
.navbar bottom
font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #b2dbec;
